* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #fcfcfc;
  transition: background-image 0.2s ease;
}

p {
  line-height: 1.6;
}

.nav {
  margin: 0;
  padding: 0;
  width: 5%;
  position: fixed;
}

.nav a {
  display: block;
  padding: 0.5em;
  border: none;
  color: #999999;
  background-image: none;
  text-decoration: none;
}

.nav a:hover {
  color: #636363
}

.nav .icon {
  display: none;
}

.nameDiv {
  display: inline-block;
  margin-left: 20vw;
  margin-top: 5vh;
}

.nameDiv h1 {
  font-size: 3.5em;
}

.nameDiv h2 {
  font-size: 1.75em;
  float: right;
}

.nameDiv h1, h2 {
  margin: 0.25em 0em;
}

.nameDiv a {
  float: right;
}

.tagline {
  font-size: 1.75em;
  width: 75%;
  margin: 13vh auto;
}

.text {
  font-size: 1.25em;
  width: 75%;
  margin: 10vh auto;
}

a {
  font-weight: bold;
  color: #9A2EFF;
  background-image: -webkit-linear-gradient(left, #9A2EFF 0%, #9A2EFF 100%);
  border-bottom: 3px solid #9A2EFF;
  transition: all 0.2s;
  background-size: 100% 0;
  background-position: 0 100%;
  background-repeat: no-repeat;
  text-decoration: none;
}

a:hover {
  color: #fcfcfc;
  background-size: 100% 100%;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer div {
  display: inline-block;
  margin: 0 2em;
}

.footer div a {
  font-size: 1.25em;
}

.smallCaps {
  font-variant: small-caps;
}

.highlight {
  color: #9A2EFF;
}

@media screen and (max-width: 39.9375em) {
  html {
    font-size: 16px;
  }

  .nameDiv {
    margin: 5vw;
  }

  .nameDiv h2, .nameDiv a {
    float: none;
  }

  .tagline {
    width: 90%;
    margin: 10vw auto;
  }

  .nav a:not(:first-child) {
    display: none;
  }

  .nav a.icon {
    display: block;
  }
}

@media screen and (max-width: 39.9375em) {
  .nav.responsive {
    position: relative;
  }

  .nav.responsive a {
    display: block;
    text-align: left;
  }
}

@media screen and (min-width: 40em) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 64em) {
  html {
    font-size: 20px;
  }
}
