html {
  font-size: 20px;
}

body {
  background-color: #030105;
  color: #eee;
}

#particles-js, .layer {
	height: 100%;
	width: 100%;
	position: absolute;
}

#landing {
  position: relative;
  height: 95vh;
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
}

#landingTitle {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

#landing p {
	position: absolute;
	bottom: 10px;
	right: 10px;
	transition: all 0.2s;
	background-image: -webkit-linear-gradient(left, #a239ca, #4717f6);
	background-size: 0 40%;
	background-position: 0 100%;
	background-repeat: no-repeat;
}

#landing p:hover {
	cursor: pointer;
	background-size: 100% 40%;
}

#subTitle {
	position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.button {
  color: #eee;
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  text-decoration: none;
  background-color: transparent;
  border-color: #4717f6
}

.button:hover {
	color: #eee;
  background-color: #4717f6;
}

.top-bar,
.top-bar ul {
  background-color: #030105;
}

.menu li {
  padding: 0.7rem 1rem;
}

.menu a {
  color: #eee;
  background-image: -webkit-linear-gradient(left, #a239ca, #4717f6);
	background-size: 0 40%;
	background-position: 0 100%;
	background-repeat: no-repeat;
	transition: all 0.2s;
  padding: 0;
}

.menu a:hover,
.menu a:focus {
  background-size: 100% 40%;
  background-color: transparent;
  color: #fff;
}

.orbit-bullets button {
  border-radius: 0;
  transition: all 0.3s;
	background-image: -webkit-linear-gradient(left, #a239ca, #4717f6);
	background-size: 0 5%;
	background-position: 50% 100%;
	background-repeat: no-repeat;
  background-color: transparent;
  color: #eee;
  height: 2rem;
  width: 4rem;
  margin: 0.5rem;
  padding: 0 1rem;
  font-size: 1.25em;
}

.orbit-bullets button:hover,
.orbit-bullets button.is-active {
  background-size: 100% 5%;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 1.4em;
}

.contact {
  text-align: center;
  margin-top: 8rem;
}

.contact a {
  margin: 0.6rem;
  transition: all 0.2s;
  color: #4717f6;
}

.contact a:hover {
  color: #a239ca;
}

#portfolio {
  margin-top: 4rem;
}
