#landing
{
    height: 80vh;
    width: 100vw;
    overflow: hidden;
    background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container
{
    color: #ffffff;
    width: 50%;
    height: 50%;
}