@charset "UTF-8";
/* CSS Document */
* {
	box-sizing: border-box;
	font-family: "Helvetica", sans-serif;
	-webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
	padding-top: 46px;
  height: 100%;
  width: 100%;
	background-color: #000;
	color: #fff;
}

section {
	height: 80vh;
	width: 100%;
	max-height: 100%;
	max-width: 100%;
}

#particles-js, .layer {
	height: 100%;
	width: 100%;
	position: absolute;
	pointer-events: auto !important;
}

#landing {
	height: 100vh;
	overflow: hidden;
	pointer-events: auto !important;
}

#landingTitle {
  font-size: 5rem;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

#subTitle {
	font-size: 2rem;
	position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.button {
	color: white;
  border: 1px solid white;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  text-decoration: none;
  transition: all 0.2s;
  padding: 10px 15px;
}

.button:hover {
  background: white;
  color: black;
}

/* Navbar styling */
nav ul {
	list-style-type: none;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #000;
	z-index: 100;
}

nav ul li {
	float: right;
	display: block;
	text-align: center;
	padding: 18px 20px;
	font-size: 16px;
}

nav ul li.brand {
	float: left;
}

nav ul li:hover {

}

nav a {
	text-decoration: none;
	color: #fff;
}

nav .icon {
	display: none;
}

/* Responsive navbar code */
@media only screen and (max-width: 600px) {
	nav li:not(:first-child)
	{
		display: none;
	}

	nav li.icon
	{
		float: right;
		display: block;
	}
}

@media only screen and (max-width: 600px) {
	nav.responsive
	{
		position: relative;
	}

	nav.responsive .icon
	{
		position: absolute;
		right: 0;
		top: 0;
	}

	nav.responsive li
	{
		float: none;
		display: block;
		text-align: left;
	}
}
/* End navbar styling */
