html {
  font-size: 20px;
}

body {
  background-color: #030105;
  color: #eee;
  transition: all 0.3s;
}

#intro {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  margin-bottom: 3rem;
}

#intro h1 {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  margin-bottom: 0;
}

#intro > div {
  position: absolute;
  top: 50%;
}

div > div {
  position: relative;
}

span {
  text-decoration: underline;
  color: #c98fff;
  font-weight: bold;
}

.projType p {
  margin-bottom: 3rem;
}

p {
  margin-bottom: 0;
}

li {
  list-style-type: none;
}

body.light {
  background-color: #eee;
  color: #030105;
}

@media screen and (max-width: 39.9375em) {

}

@media screen and (min-width: 40em) {

}

@media screen and (min-wdith: 64em) {

}
