html {
  font-size: 20px;
}

body {
  background-color: #030105;
  color: #eee;
  transition: all 0.3s;
}

#intro {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  margin-bottom: 5rem;
}

#intro h1 {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  margin-bottom: 0;
}

#intro > div {
  position: absolute;
  top: 50%;
}

div > div {
  position: relative;
  margin-bottom: 3rem;
}

.bold {
  text-decoration: underline;
  color: #c98fff;
  font-weight: bold;
}

#projType {
  margin-bottom: 3rem;
}

p {
  margin-bottom: 0;
}

/* Scroll past landing page style */
body.light {
  background-color: #eee;
  color: #030105;
}


@media screen and (max-width: 39.9375em) {
  #intro h1 {
    top: 10%;
  }

  #intro > div {
    top: 25%;
  }
}
