@import 'variables';
@import 'baseStyles';

section
{
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    margin: 0 10%;
    padding: 10% 0;
    font-size: 0.75rem;
    line-height: 160%;

    @include tablet
    {
        margin: 0 5% 0 15%;
        flex-direction: row;
        font-size: 0.85rem;
    }

    @include desktop
    {
        margin: 0 10% 0 20%;
        font-size: 1rem;
        line-height: 130%;
    }
}

.imageBlock
{
    margin-bottom: 10%;
    text-align: center;

    @include tablet
    {
        width: 35%;
        position: fixed;
        max-width: 250px;
    }

    @include desktop
    {
        width: 25%;
    }

    p
    {
        user-select: all;
        margin: 2.5% 0;
    }

    a
    {
        display: block;
        margin: 2.5% 0;
        text-decoration: underline;
    }
}

img
{
    object-fit: contain;
    width: 100%;
    height: auto;
}

.selfDesc
{   
    h1
    {
        &:first-child
        {
            margin-top: 0;
        }

        margin: 7.5% 0;
        font-size: 1.5rem;
    }

    p
    {
        margin: 2.5% 0;
    }

    @include tablet
    {
        margin-left: 50%;
    }

    @include desktop
    {
        margin-left: 45%;
    }
}

li
{
    list-style-type: none;
    display: inline-block;
    border: 2px solid #dd33ff;
    padding: 2%;
}